p{
    color: aqua;
    font-family:Arial, Helvetica, sans-serif;
    font-size: large;
    background-color: black;
    font-size: 29px;
}
h2{
    text-align: center;
    font-weight:bold;
}
h1{
    color: pink;
    font-style: italic;
}